{% extends "base.html" %}

{% block content %}


		<!-- SEMANTIC!!PAGE WRAP -->

  <div class="page-wrap">
    	<div class="page">
		      <div class="container">
          <div class="row">


						<section class="bio">
									<div class="eight columns">
												<h3 class="highlight">I am first year graduate student at University of Michigan.</h3>
												<p class="lead">I believe working smart and hard is the best way to learn and grow. With gusto in human-computer interaction and data visualization, as well as a basis of computer skills and a motivated design talent, I wish to engage myself in designing the technology with more intuitive functions and aesthetic pleasure for human.</p>

								<section>
												 <h3>Skill Bars</h3>
													<div class="skillbar" data-perc="75">

															<div class="skill-title">Graphic Design 75%</div>
															<div class="skill-percentage"></div>
													</div>

													<div class="skillbar" data-perc="60">
															<div class="skill-title">UI Design 60%</div>
															<div class="skill-percentage"></div>
													</div>

													<div class="skillbar" data-perc="40">
															<div class="skill-title">Front-end 40%</div>
															<div class="skill-percentage"></div>
													</div>

													<div class="skillbar" data-perc="99">
															<div class="skill-title">FOODIE 99%</div>
															<div class="skill-percentage"></div>
													</div>
									</section>
							 		</div> <!-- END OF COLUMN -->

									<div class="eight columns">
												<img src="../static/images/mypicLA.png" id="mypic" title="mypic" alt="picture of Yue">
									</div>

							</section>

								<section class="resume">
									<div class="sixteen columns">
											<h2>Resume</h2>
											<a href="../static/assets/Yue_resume.pdf"><span class="download-link">Download Resume Here</span></a>
											<embed src="../static/assets/Yue_resume.pdf" >
									</div>
								</section>



				 </div><!-- END ROW -->
			 </div><!-- END CONTAINER -->
		 </div><!-- END PAGE-->
		</div><!-- END SEMANTIC PAGE-WRAP -->

	{% endblock %}
