<!-- START COPYRIGHT SECTION -->
<footer>
 <section class="copyright">
 <div class=" clearfix">
    <div class="sixteen columns">
    <div class="copyright-logo"><a href="#"><img src="../static/images/logo2.png" title="logo" alt="logo"/></a></div>
       <div class="social-icons">
         <div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
        <div class="social-icon social-evernote"><a href="#" target="_blank" data-original-title="evernote">Evernote</a></div>
        <div class="social-icon social-github"><a href="#" target="_blank" data-original-title="Github">Github</a></div>
        <div class="social-icon social-html5"><a href="#" target="_blank" data-original-title="Html5">Html5</a></div>
        <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
        <div class="social-icon social-flickr"><a href="#" target="_blank" data-original-title="Flickr">Flickr</a></div>
        <div class="social-icon social-googleplus"><a href="#" target="_blank" data-original-title="googleplus">googleplus</a></div>
        <div class="social-icon social-linkedin"><a href="#" target="_blank" data-original-title="Linkedin">Linkedin</a></div>
    </div><!-- END COPYRIGHT SECTION -->
  <p>&copy; Designed for course SI 539. by Yue Chen</p>

     </div> <!-- END SIXTEEN COLUMNS -->
 </div><!-- END CONTAINER -->
</section>
 <!-- END COPYRIGHT SECTION -->
 <!-- START COPYRIGHT SECTION -->
</footer>
