{% extends "base.html" %}

{% block content %}

 <div class="page">
	 	<div class="container">
			<div class="row">
				<div class="sixteen columns">

											<div class="divider"><span>Graphics</span></div>
														<!-- START GALLERY MEMBER -->
						        			  <div class="gallery-member">
											                       <!-- START gallery THUMBNAIL -->
											                       <div class="gallery-thumb img-wrp">
											                             <img src="../static/images/gallery/hand-draw1.jpg" alt="hand draw 1">
																									 <!-- START gallery OVERLAY -->
																									 <div class="gallery-overlay">
																										 <div class="img-overlay"></div>
																												<!-- START OVERLAY CONTENT -->
																												<div class="overlay-content">
																																<h5>2013</h5>
																																<h4>Mr. Cat Knight</h4>

																												</div><!-- END OVERLAY CONTENT -->
																										</div>
																										<!-- END GALLERY OVERLAY -->
																								</div><!-- END gallery THUMBNAIL -->

											                     <!-- START gallery DESCRIPTION -->
											                     <div class="gallery-desc">
											                       <h4>HAND DRAW</h4>
											                     </div>
											                     <!-- END gallery DESCRIPTION -->
								            </div><!-- END gallery MEMBER -->

														<!-- START GALLERY MEMBER -->
														<div class="gallery-member">
															 <!-- START gallery THUMBNAIL -->
															 <div class="gallery-thumb img-wrp">
															 <!-- START MEMBER IMAGE -->
															<img src="../static/images/gallery/hand-draw2.png" alt="hand draw 2">
															 <!-- END MEMBER IMAGE -->
															 <!-- START gallery OVERLAY -->
															 <div class="gallery-overlay">
															 	<div class="img-overlay"></div>
															 		 <!-- START OVERLAY CONTENT -->
															 		 <div class="overlay-content">
															 						 <h5>2012</h5>
															 						 <h4>Where R U</h4>
															 		 </div><!-- END OVERLAY CONTENT -->
															  </div>
															  <!-- END GALLERY OVERLAY -->
															</div><!-- END gallery THUMBNAIL -->
													 		<!-- START gallery DESCRIPTION -->
															 <div class="gallery-desc">
																 <h4>HAND DRAW</h4>
															 </div>
													      <!-- END gallery DESCRIPTION -->
											      </div><!-- END GALLERY MEMBER -->

											      <!-- START GALLERY MEMBER -->
														<div class="gallery-member">
															 <!-- START TEAM THUMBNAIL -->
															 <div class="gallery-thumb img-wrp">	 <!-- START MEMBER IMAGE -->
															  		<img src="../static/images/gallery/post3.png" alt="post design">
																 		<!-- END MEMBER IMAGE -->
																		<!-- START gallery OVERLAY -->
																		<div class="gallery-overlay">
																				<div class="img-overlay"></div>
																						<!-- START OVERLAY CONTENT -->
																				<div class="overlay-content">
																										<h5>2012</h5>
																										<h4>Enactus</h4>
																				</div><!-- END OVERLAY CONTENT -->
																		</div>
																		<!-- END GALLERY OVERLAY -->
															 </div><!-- END gallery THUMBNAIL -->

																 <!-- START gallery DESCRIPTION -->
																 <div class="gallery-desc">
																	 <h4>POSTER DESIGN</h4>
																 </div>
																 <!-- END gallery DESCRIPTION -->
												    </div><!-- END gallery MEMBER -->

											<div class="divider"><span>Travel</span></div>
														<div class="gallery-member">
															 <!-- START TEAM THUMBNAIL -->
															 <div class="gallery-thumb img-wrp">	 <!-- START MEMBER IMAGE -->
															  		<img src="../static/images/gallery/travel_UK.png" alt="Travel 4">
																 		<!-- END MEMBER IMAGE -->
																		<!-- START gallery OVERLAY -->
																		<div class="gallery-overlay">
																				<div class="img-overlay"></div>
																						<!-- START OVERLAY CONTENT -->
																				<div class="overlay-content">
																										<h5>2010</h5>
																										<h4>UNITED KINGDOM</h4>
																				</div><!-- END OVERLAY CONTENT -->
																		</div>
																		<!-- END GALLERY OVERLAY -->
															 </div><!-- END gallery THUMBNAIL -->

																 <!-- START gallery DESCRIPTION -->
																 <div class="gallery-desc">
																	 <h4>TRAVEL</h4>
																 </div>
																 <!-- END gallery DESCRIPTION -->
												    </div><!-- END gallery MEMBER -->

														<div class="gallery-member" >
															 <!-- START TEAM THUMBNAIL -->
															 <div class="gallery-thumb img-wrp">	 <!-- START MEMBER IMAGE -->
																		<img src="../static/images/gallery/travel_VN.png" alt="Travel 5">
																		<!-- END MEMBER IMAGE -->
																		<!-- START gallery OVERLAY -->
																		<div class="gallery-overlay">
																				<div class="img-overlay"></div>
																						<!-- START OVERLAY CONTENT -->
																				<div class="overlay-content">
																										<h5>2011</h5>
																										<h4>VIETNAM</h4>
																				</div><!-- END OVERLAY CONTENT -->
																		</div>
																		<!-- END GALLERY OVERLAY -->
															 </div><!-- END gallery THUMBNAIL -->

																 <!-- START gallery DESCRIPTION -->
																 <div class="gallery-desc">
																	 <h4>TRAVEL</h4>
																 </div>
																 <!-- END gallery DESCRIPTION -->
														</div><!-- END gallery MEMBER -->

														<div class="gallery-member">
															 <!-- START TEAM THUMBNAIL -->
															 <div class="gallery-thumb img-wrp">	 <!-- START MEMBER IMAGE -->
																		<img src="../static/images/gallery/travel_US.png" alt="Travel 6">
																		<!-- END MEMBER IMAGE -->
																		<!-- START gallery OVERLAY -->
																		<div class="gallery-overlay">
																				<div class="img-overlay"></div>
																						<!-- START OVERLAY CONTENT -->
																				<div class="overlay-content">
																										<h5>2014</h5>
																										<h4>United States</h4>
																				</div><!-- END OVERLAY CONTENT -->
																		</div>
																		<!-- END GALLERY OVERLAY -->
															 </div><!-- END gallery THUMBNAIL -->

																 <!-- START gallery DESCRIPTION -->
																 <div class="gallery-desc">
																	 <h4>TRAVEL</h4>
																 </div>
																 <!-- END gallery DESCRIPTION -->
														</div><!-- END gallery MEMBER -->

				</div><!-- END SIXTEEN COLUMN -->
			</div><!-- END ROW -->
	</div><!-- END CONTAINER -->
</div>

		{% endblock %}
