<!-- START NAVIGATION -->
  <header>
    <nav class="light">
     <!-- START CONTAINER -->
      <div class="container">
          <div class="four columns">
              <!-- START LOGO -->
              <div class="logo">
                <a href="index.html"><img src="../static/images/logo.png" title="logo" alt="Logo"/></a>
              </div>
              <!-- END LOGO -->
          </div><!-- END FOUR COLUMNS -->


          <div class="twelve columns">
              <!-- START NAVIGATION MENU ITEMS -->
              <ul class="main-menu large" id="nav">
                  <li><a href="index" {% if name == "index" %} class="active-menu" {% endif %} >Home</a></li>
                  <li><a href="about" {% if name == "about" %} class="active-menu" {% endif %} >About</a></li>
                  <li><a href="gallery" {% if name == "gallery" %} class="active-menu" {% endif %} >Gallery</a></li>
                  <li><a href="contact" {% if name == "contact" %} class="active-menu" {% endif %}>Contact</a></li>
              </ul>
              <!-- END NAVIGATION MENU ITEMS -->
          </div><!-- END TWELVE COLUMNS -->
      </div><!-- END CONTAINER -->
    </nav><!-- END NAVIGATION -->
  </header>
