{% extends "base.html" %}

{% block content %}

  <div class="welcome-mobile">
  		<img src="../static/images/welcome-mobile.png" alt="welcome">
  </div>

  <!-- SEMANTIC!!PAGE WRAP -->
 <div class="page-wrap">
    	<!-- START PROJECT-SINGLE -->
	    <div class="page homepage">
		      <div class="container homepage">
          <div class="row">


						<div class="title">


							<div class="divider divider-home"><span>Welcome</span></div>
							<div class="subtitle">
								<h4>I am an <span class="highlight">UX Designer on the go</span>, made in China, and now being polished in US. </h4>
							</div><!-- END SUBTITLE -->
							<div class="subtitle">
								<h4> this is website is design for</h4>
							  <h2 class="highlight">SI 539</h2>
							  <h4 class="highlight">COMPLEX WEBSITE DESIGN</h4>
							</div><!-- END SUBTITLE -->

						<div class="divider divider-home"><span>Thank you</span></div>

						<!-- <div class='song'>
									<audio controls autoplay>
										<source src="../static/assets/OliviaOng_CloseToYou.mp3" type="audio/mpeg">
										Your browser does not support the audio tag.
									</audio>
						</div> -->
					</div><!-- END TITLE -->


				 </div><!-- END ROW -->
			 </div><!-- END CONTAINER -->
		 </div><!-- END PAGE-->
</div><!-- END SEMANTIC PAGE-WRAP -->


{% endblock %}
